<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="InfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/debug/${app.name}.debug</File>
		<encoder>
			<pattern>%date %.-3level [%-24.24thread] %-35.35logger{35} - %message%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>${log.dir}/debug/${app.name}.debug.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>250MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/error/${app.name}.error</File>
		<encoder>
			<pattern>%date %-5level [%-24.24thread] %-30.30logger{30} - %message%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>${log.dir}/error/${app.name}.error.%i
			</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<!-- Local -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="InfoLog" />
	</root>
 
</configuration>